body {
    font-family: Arial;
    background-color: #eaeaea;
}

header {
    background-color: white;
    text-align: center;
    padding: 10px;
}

header a {
    margin: 5px;
}

section {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px;
}
